.heading{
    text-align: center;
    color: white;
    font-size: xx-large;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item-plan{
    width: 300px;
    border-radius: 26px;
    box-shadow: 0 0 6px white;
    overflow:hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:white;
    margin: 15px;
}
.pricing-plan_header{
    padding:26px;
    background-color:rgb(22, 59, 182);
    color: white;
}

.pricing-plan_botton:hover{
    background: #009578;
    color:white;
}

.pricing-plan_cost{
    font-size: 3em;
    margin: 0;
    text-align: center;
    color:white;
}

.pricing-plan_text{
    font-size: 0.9em;
    text-align: center;
    margin:0 0 10px 0;
}

.pricing-plan_botton{
    display: inline-block;
    margin: 15px auto;
    padding: 8px 20px;
    text-decoration: none;
    color:red;
    background:white;
    border-radius: 5px;
    border: 1px solid red;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
}

.pricing-plan_botton:hover{
    background:red;
    color:white;
}

.pricing-plan_action{
    padding: 26px;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image1{
    width: 100%;
}

.image2{
    width: 100%;
}

.image3{
    width: 100%;
}

.image4{
    width: 100%;
}

